extends layout

block content
    #page-content.container
      .row
        .col-md-9.col-sm-12.content-holder
          // CONTENT
          #menu-container
            .logo-holder.logo-top-margin
              a.site-brand
                img(src='../images/TJLogo.png', alt='')
              br
              a(href='/tasks/new')
                button.button(type='button') A D D - T A S K - H E R E 
              br
              a(href='/tasks')
                button.button2(type='button') C H E C K - T A S K S - H E R E
              br